.aboutMeGreetBox {
  top: 10em;
  height: 100%;
  position: relative;
  max-width: 80vw;
  margin: 0 auto;
}

.aboutMeGreet {
  display: none;
}

.aboutMeTextBox {
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 0;
  padding: 5%;
  font-size: 20px;
}

@media screen and (min-width: 920px) {
  .aboutMeGreetBox {
    position: absolute;
    right: 0px; left: 0px; bottom: 0px;
    overflow: hidden;
    top: 30px;
    margin-bottom: 15%;
  }

  .aboutMeTextBox {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 30%;
    display: block;
    background-color: transparent;
  }

  .aboutMeGreet {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .aboutMeGreetBox {
    top: 20%;
    margin: auto;
    width: 80%;
    height: 80%;
    color: white;
    font-size: 1em;
    text-align: center;
    padding: 5px;
  }
}
