.selectBox {
  display: flex;
  position: sticky;
  height: 20%;
  margin: 0 auto;
  justify-content: center;
}

.projectPulldown {
  position: absolute;
  top: 10%; bottom: 0; left: auto; right: auto;
  font-size: 1em;
  opacity: 80%;
  background-color: #31313f;
  color: white;
  height: 25%;
  padding: 15%;
}

.projectPulldown > option {
  max-width: 80%;
}

@media screen and (min-width: 920px) {
  .selectBox {
    position: relative;
    display: flex;
    margin-top: 20em;
    width: 100%;
    height: 20%;
    justify-content: center;
  }

  .projectPulldown {
    cursor: pointer;
    position: absolute;
    top: 0;
    height: 30%;
    width: 20%;
    padding: 5px;
    margin-top: 0px;
    margin: 2px;
    font-size: 1em;
    box-shadow: rgb(13, 48, 122) -1px 2px 13px;
  }
  
  .projectPulldown::after {
    border: none;
  }
}

@media screen and (min-width: 1200px) {
  .selectBox {
    position: relative;
    top: 5em;
    width: 100%;
    height: 20%;
  }

  .projectPulldown {
    position: absolute;
    top: 0;
    width: 40%;
    font-size: 1em;
  }
}
